node_modules
dist
public/*
# !public/

# Editor directories and files

#  .vscode/* 表示忽略 .vscode 目录下的所有文件，但是并不忽略 这个目录，如果忽略了这个目录，那么下面的所有文件都被 忽略了，这个时候我们再想追踪这个目录下的某个文件的话，就追踪不了了，所以此时我们不能把目录也一起排除了。
.vscode/*

!.vscode/extensions.json

# 1.空行不匹配任何文件，因此常用作分隔符 （以方便阅读）。
# 2.# 用于注释，\表示转义（如需使用实体\，则要加引号"\"）。
# 3. * 可以匹配任何宇符(0或多次)，？可以匹配任何字符(1次)。（注意：它们都不可以匹配/）。
# 4. / 用于分割目录， 当 / 在开头时，表示从 .gitignore 文件所在目录开始匹配； 当 / 在末尾时，只匹配目录。
# 5. 原先被排除的文件，使用 ！ 模式后该文件将会重新被包含，但如果了解该文件的父级目录被排除了，那么使用 ! 也不会再次被包含。
# 6. []  通常用于匹配一个字符列表 如  a[mn]z  可以匹配  amz 和 anz
# 7. ** 用于匹配 多级目录， 如 a/**/b 可以匹配  a 目录下的任意目录中的 b 目录。